@import "matugen.rasi"

* {
    background-color: @rofi-bg;
    text-color: @rofi-fg;
}

window {
    width: 380px;
    height: 400px;

    border: 1px;
    border-radius: 14px;
    border-color: @rofi-border;

    background-color: @rofi-bg;
}

mainbox {
    spacing: 7px;
    padding: 9px;

    children: [
        inputbar,
        listview
    ];
}

/* ───────── SEARCH ───────── */

inputbar {
    padding: 8px;
    spacing: 6px;

    border: 1px;
    border-radius: 9px;
    border-color: @rofi-border;

    background-color: @rofi-surface;
}

prompt {
    margin: 0 6px 0 0;

    text-color: @rofi-accent;
    background-color: transparent;
}

entry {
    text-color: @rofi-fg;
    background-color: transparent;
}

/* ───────── APP LIST ───────── */

listview {
    spacing: 2px;
    lines: 9;

    fixed-height: false;
    scrollbar: false;

    flow: vertical;
}

/* ───────── APP ITEM ───────── */

element {
    padding: 6px;

    border: 1px;
    border-radius: 9px;
    border-color: transparent;

    background-color: transparent;

    horizontal-align: 0.5;
}

/* Selected item */

element.selected.normal {
    background-color: @rofi-surface;
    border-color: @rofi-accent;
}

/* ───────── REMOVE ICONS ───────── */

element-icon {
    size: 0px;
    margin: 0px;
}

/* ───────── APP NAME ───────── */

element-text {
    text-color: @rofi-fg;

    background-color: transparent;

    horizontal-align: 0;
    vertical-align: 0.5;
}

element-text.selected {
    text-color: @rofi-accent;
}